<h2>
  府中産農産物直売所一覧
</h2>

<div>
  <%= form_with url: root_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: params[:keyword], autocomplete: 'off' %>
    <%= f.submit '検索' %>
  <% end %>
</div>
<% @stores.each do |store| %>
  <div>
    <h3>
      <%= store.name %>
    </h3>
    <div>
      <%= store.description %>
    </div>
  </div>
<% end %>